<div id="task_panel">
    <%= form_for([todolist, todolist.tasks.build], :remote => true) do |f| %>
      <div id="left_task_block">
        <%= image_tag("add_task_img.jpg")  %>
      </div>
      <div id="center_task_block">
        <%= f.text_field :title, :placeholder => 'Start typing here to create a task...', :class => 'task_type' %>
      </div>
      <div id="right_task_block">
        <%= image_submit_tag('add_task_btn.jpg')  %>
      </div>

    <% end %>
</div>