<% if task.id != nil %>

    <tr id="task_<%= task.id %>"  style="text-align: center" class="bottom_line">
      <td class="decor_td">
        <% if task.isDone %>
            <input type="checkbox" data-task-id="<%= task.id %>" data-todolist-id="<%= task.todolist.id %>" checked>
        <% else %>
            <input type="checkbox" data-task-id="<%= task.id %>" data-todolist-id="<%= task.todolist.id %>">
        <% end %>
      </td>

      <td id="task_<%= task.id %>_title" class="decor_td_2">
        <div id="persent_task_title_<%= task.id %>">
          <% if task.isDone %>
              <strike> <%= task.title %> </strike>
          <% else %>
              <%= task.title %>
          <% end %>

        </div>
        <div id="new_task_title_<%= task.id %>" style="display: none">
          <input type="text" id="new_title_<%= task.id %>">
        </div>
      </td>

      <td style="text-align: center; vertical-align: middle;  width: 55px">
        <div id="icons" style="display:none">
          <a href="#" data-task-id="<%= task.id %>" data-todolist-id="<%= task.todolist.id %>"><i class="icon-edit"></i>
          </a>

          <%= link_to "<i class='icon-trash'></i>".html_safe, todolist_task_path(task.todolist, task),
                      method: :delete, remote: true,
                      data: {confirm: 'Are you sure?'} %>
        </div>
      </td>
    </tr>

<% end %>