<%- if @task.errors.any? %>
console.log('Error');

$("<div id='error_explanation'> Title can't be blank </div>").dialog();

<%- else %>
console.log('Created');
$("#tasks_"+ <%= @todolist.id %>).find('tbody').append('<%= escape_javascript(render(@task)) %>')

<% end %>

