<html>
<head>

</head>
<body>
<h1>New todolist</h1>

<%= form_for(@todolist, :remote => true) do |f| %>
    <% if @todolist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

          <ul>
            <% @todolist.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

</body>
</html>