<%= div_for(todolist, class: "todolist-border") do %>
    <table  cellSpacing="0" cellPadding="0">
      <tr>

        <td>
          <div class="header">

            <div class="header_title"> <h3><font  color="#f5f5f5"><%= todolist.title %></font></h3>
            </div>

            <div class="header_trash">
              <%= link_to "<i class='icon-trash icon-white'></i>".html_safe, todolist_path(todolist),
                          method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
            </div>

          </div>

        </td>

      </tr>
      <tr>
        <td><%= render :partial => "tasks/form", locals: {todolist: todolist} %></td>
      </tr>
      <tr>
        <td>
          <div id="tasks_<%= todolist.id %>">


            <table id="tasks_<%= todolist.id %>" class="table table-condensed">

              <% if todolist.tasks.count() !=0 %>
                  <%= render todolist.tasks %>

              <% else %>
                  <tbody>

                  </tbody>
              <% end %>
            </table>
          </div>
        </td>
      </tr>
    </table>
<% end %>
<div id="indent_<%= todolist.id %>">
<br/>
</div>