<%- if @todolist.errors.any? %>
  console.log('Error');
  $('#dialog-form').html('<%= escape_javascript(render('form')) %>');
<%- else %>
  console.log('Created');
  $('#dialog-form').dialog('close');
  $('#dialog-form').remove();
  $('#todolists').append('<%= escape_javascript(render(@todolist)) %>');
<%- end %>
