<html>
<head>

</head>
<body id="bg_image">
<div class="my_container">

  <p>

  <h3>SIMPLE TODO LISTS</h3>

  FOR RUBY GARAGE

  <br/><br/>

  <div class="main">
    <div id="todolists" class="main">
      <%= render :partial => @todolists %>
    </div>

    <br/>
    <%= link_to image_tag('add_todo_btn.jpg'), new_todolist_path, :id => 'create_todolist' %>
  </div>
</div>

<div class="footer">
  &copy arakorno
</div>

</body>
</html>