
.my_container{
    left: 0%;
    text-align : center;
    width: 550px;
    height: 100%;
    position: relative;
    min-height: 100%;
    vertical-align:bottom;
    margin:0 auto;
    height:auto !important;
}


html, body, .my_container {height: 100%;}

body > #my_container {height: auto; min-height: 100%;}

#main {padding-bottom: 150px;}

.footer {
    position: relative;
    clear:both;
    align-content: center;
    text-align: center;

}

body {
    background: url('BG.jpg');
    background-size: 100%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#dialog-form {
  border: 1px solid #ccc;
  padding: 20px;
}

.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

