// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task_panel {
  width: 550px;
  height: 40px;
  display:inline-block;
  background:url('task_title_panel.jpg');
}

#left_task_block{
  position: relative;
  right: -4px;
  display:inline-block;
}

#center_task_block{
  position: relative;
  top: 5px;
  right: -10px;
  display:inline-block;
}

#right_task_block{
  position: relative;
  top: 1px;
  display:inline-block;

}

.decor_td{
  width: 30px;
  border-right: double 3px #efdadf;

}

.decor_td_2{

  border-right:  1px solid lightgray;
}

tr.bottom_line td{
  border-bottom: 1px solid lightgray;
}

.task_type { width: 370px; height: 21px; }