// Place all the styles related to the todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todolist-border
{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 550px;
  background-color: #fff;
  border: 1px solid #efdadf;
}

.header{
  width: 550px;
  height: 50px;
  background:url('todo_title_panel.jpg');
  position: relative;
}

.table td{
  background-color: #fff;
  border:1;

}

.header_title{
  position: absolute;
  left: 50px;
  top: 11px;
}

.header_trash{
  right: 20px;
  top: 18px;
  position: absolute;
}

th, td {
  word-break:break-all;
  overflow:hidden;
}

